<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
  <select id="list" resultType="com.the.cho.dto.Notice">
  	select * from board 
  	<if test="search != null">
  	<where>
	  	<if test="writer != null">
	  		or writer like '%${search}%'
	  	</if>
	  	<if test="subject != null " >
	  		or subject like '%${search}%'
	  	</if>
	  	<if test="content != null " >
	  		or content like '%${search}%'
	  	</if>
  	</where>
  	</if>
  	order by no desc
  </select>
  
  <select id="total" resultType="int">
  	select count(*) from board 
  	<if test="search != null">
  	<where>
	  	<if test="writer != null">
	  		or writer like '%${search}%'
	  	</if>
	  	<if test="subject != null " >
	  		or subject like '%${search}%'
	  	</if>
	  	<if test="content != null " >
	  		or content like '%${search}%'
	  	</if>
  	</where>
  	</if>
  </select>
  <select id="detail" resultType="com.the.cho.dto.Notice">
  	select * from board
  	where no=#{no}
  </select>
  
  <delete id="delete">
  	delete from board
  	where no=#{delete_no}
  </delete>
  

</mapper>